.card {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    background-color: #f0f0f0;
    border-radius: 8px;
    flex-wrap: wrap;
    transition: box-shadow 0.3s ease;
    box-sizing: border-box;
    min-height: 100px;
}

.info-left h2 {
    margin: 0;
    font-size: 1.2rem;
}

.info-left p {
    margin: 0.2rem 0 0;
    color: gray;
}

.info-right {
    text-align: right;
    flex: 1;
}

.rating {
    color: black;
    font-weight: bold;
    display: block;
    margin-bottom: 0.25rem;
}

.cuisines {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin-top: 4px;
    justify-content: flex-end;
}
.cuisine {
    background-color: #e2e2e2;
    border: 1px solid #ccc;
    padding: 2px 6px;
    border-radius: 100px;
    font-size: 0.8rem;
    color: black;
}