.curr-state {
    text-align: center;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.curr-img {
    width: 25vw;
    max-width: 300px;
    min-width: 100px;
    height: auto;
    opacity: 0.85;
    margin-bottom: 3rem;
    margin-top: 2rem;
}

.curr-state p {
    font-size: 1.5rem;
    font-family: 'Nunito', sans-serif;
    color: white;
    text-align: center;
    margin-top: 0rem;
}

.curr-state h2 {
    font-size: 2rem;
    font-family: 'Nunito', sans-serif;
    color: white;
    font-weight: 900;
    text-align: center;
}