.map-state {
    text-align: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map-text {
    margin-top: 3rem;
    font-size: 2rem;
    font-family: 'Nunito', sans-serif;
    color: white;
    font-weight: 900;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.map-img {
    width: 350px;
    max-width: 90%;
    height: auto;
    border-radius: 50%;
    border: 8px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    margin-top: 1.5rem;
}

.map-wrapper {
    position: relative;
    display: inline-block;
}

.svg-pin {
    position: absolute;
    top: 40%;
    left: 35%;
}